[user]
    name = vonpupp
    email = albert@haevas.com
	signingkey = 4871A220
[alias]
    au = add -u
    co = commit -m
    ca = commit --amend
    cam = commit --amend -m
    df = diff
    ds = diff --staged
    ss = status
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    pl = pull
    pr = pull --rebase
    ps = push
    pf = push --force
    bl = blame
    # Others
    url =! bash -c 'git config --get remote.origin.url'
    tig-compare-commits = "!f() { \
    	echo Checking branch existence; \
    	if [[ $(git branch --list temp-compare-base) != \"\" ]]; then\
    		echo Branch exists, comparing with $1; \
    		git difftool -d temp-compare-base..$1; \
    		git branch --delete temp-compare-base; \
    	else \
    		echo Creating initial branch at $1; \
    		git branch temp-compare-base $1; \
    	fi;\
    };"
[push]
    default = current
[core]
    excludesfile = ~/.gitignore
    editor = vim
	autocrlf = input
[web]
    browser = firefox
[github]
    user = vonpupp
[color]
    branch      = auto
    diff        = auto
    interactive = auto
    status      = auto
    ui          = auto
[color "diff"]
    frag       = 104
    func       = 74
    meta       = 137 bold
    new        = 114
    old        = 167
    plain      = 240
    whitespace = 24 24
[diff]
    tool = vimdiff3
[difftool]
    prompt = false
[credential]
	helper = cache --timeout=3600
[commit]
    gpgsign = true
[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
