!| XTerm <<<
!|=============================================================================
! Some UXTerm configs taken from:
! https://gist.github.com/tmm1/2342235

! Font menu (ctl-rightclick)
UXTerm.fontMenu.fontdefault.Label: Normal
UXTerm.fontMenu.font1.Label: Illegible
UXTerm.fontMenu.font2.Label: Smallest
UXTerm.fontMenu.font3.Label: Small
UXTerm.fontMenu.font4.Label: Large
UXTerm.fontMenu.font5.Label: Huge
UXTerm.fontMenu.font6.Label: Bold

! Font
!UXTerm.vt100.renderFont: true
!UXTerm*faceName: Terminus
!UXTerm*faceSize: 10

!! stop eating ALT-
!UXTerm*eightBitInput: false
!
!! word selection
!UXTerm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48
!
!! termtype
!UXTerm*termName: xterm-256color
!
!XTerm*faceName:         monaco for powerline
!XTerm*faceSize:         10
!XTerm*metaSendsEscape:  true

Xcursor.theme:                ArchCursorTheme

xterm*selectToClipboard: true
XTerm*vt100.translations: #override \
    Ctrl Shift <KeyPress> C:  copy-selection(CLIPBOARD) \n\
    Ctrl Shift <KeyPress> V:  insert-selection(CLIPBOARD)

!>>>

!| URxvt <<<
!|=============================================================================
! https://github.com/fabi1cazenave/dotFiles/blob/master/Xresources

! General
URxvt.termName:         rxvt-unicode-256color
urxvt*loginShell:       true
urxvt*scrollBar:        false
urxvt*secondaryScroll:  true
urxvt*saveLines:        65535
urxvt*cursorBlink:      false
urxvt*urgentOnBell:     true
urxvt.cutchars:         `"'&()urxvt*,;<=>?@[]{|}$``'"`
!urxvt*override-redirect:false
urxvt*borderLess:       false
urxvt*internalBorder:   1
urxvt*externalBorder:   0

!urxvt*font:       xft:Terminus:8
!URxvt*letterSpace : -2
urxvt*font:             -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
urxvt*boldFont:         -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
urxvt*italicFont:       -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
urxvt*bolditalicFont:   -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*

! Source: https://github.com/muennich/urxvt-perls
urxvt*perl-ext-common: default,matcher,searchable-scrollback,clipboard,keyboard-select,url-select,font-size

! extensions -> clipboard (requires xsel)
! https://github.com/muennich/urxvt-perls)
urxvt.keysym.C-C:       perl:clipboard:copy
urxvt.keysym.C-V:       perl:clipboard:paste
urxvt.keysym.C-M-v:     perl:clipboard:paste_escaped
urxvt.clipboard.autocopy: true
!URxvt.clipboard.copycmd:  pbcopy
!URxvt.clipboard.pastecmd: pbpaste

! extensions -> font-size
! https://github.com/majutsushi/urxvt-font-size
urxvt.keysym.C-equal:   perl:font-size:increase
urxvt.keysym.C-minus:   perl:font-size:decrease
urxvt.keysym.C-S-equal: perl:font-size:incglobal
urxvt.keysym.C-S-minus: perl:font-size:decglobal
urxvt.font-size.step:   4

! extensions -> matcher: open URL with a left click
urxvt*urlLauncher:      xdg-open
urxvt*matcher.button:   1

! url-select
!URxvt.url-select.autocopy:  if set to true, selected URLs are automatically copied to the PRIMARY buffer
!URxvt.url-select.button:    mouse button to click-open URLs (default: 2)
!URxvt.url-select.launcher:  browser/command to open selected URL with
!URxvt.url-select.underline: if set to true, all URLs get underlined

! keyboard-select
urxvt.keysym.M-Escape:  perl:keyboard-select:activate
urxvt.keysym.C-S:       perl:keyboard-select:search
urxvt.keysym.C-u:       perl:url-select:select_next

!URxvt.perl-ext-common:        default,matcher,url-select,clipboard,font-size,vim-scrollback
!URxvt.keysym.M-Escape:        perl:vim-scrollback
!URxvt.url-select.underline:   true
!URxvt.colorUL:                #86f2fe
!URxvt.underlineColor:         #24b5f4

! vim: set fdm=marker fmr=<<<,>>> fdl=0:
